<!DOCTYPE HTML>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Peace to U, Baghdad residents!</title>
</head>
<body>
<div>Hello, {{name}}</div>
</body>
</html>